body{
    background-color: black;
}
#footer{
    font-weight: bold;
    color: rgb(0, 136, 255);
    margin-bottom: -800px;
}
h1{
    margin-top: -300px;
    color: rgb(0, 136, 255);
}

#contenu{
    font-weight: bold;
    color: aliceblue;
    margin-top: 200px;
    margin-right: 1000px;
}